<% layout('layouts/boilerPlate') -%>
<body>
    <h2>All Listing</h2>
    <form action="/listings/new" method="GET" >
        <button>Create new Listing</button>
    </form>
    <ul>
    <% for(let listing of allListings){ %>
    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</ul>
</body>

