<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlnn</title>
</head>
<body>
    <h3>create a new listing</h3>
    <form method="POST" action="/listings">
        <input type="text" placeholder="Enter title" name="title">
        <br>
        <textarea placeholder="Enter description" name="description"></textarea>
        <br>
        <input type="text" placeholder="Enter image URL/link" name="image">
        <br>
        <input type="number" placeholder="Enter price" name="price">
        <br>
        <input type="text" placeholder="Enter location" name="location">
        <br>
        <input type="text" placeholder="Enter country" name="country">
        <br>
        <button>Add</button>
    </form>
</body>
</html>