<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <style>
        body{
            font-family: "Plus Jakarta Sans", sans-serif !important;
            font-weight: 400 !important;
            font-style: normal !important;
        }
        .navbar{
            height: 5rem;
            background-color: white;
        }
        .fa-compass{
            color: #fe424d !important;
            font-size: 2rem !important;
        }
        .nav-link{
            color: #222222 !important;
        }
        .f-info-links a{
            text-decoration: none;
            color: #222222;
        }
        .f-info-links a:hover {
            text-decoration:underline;
        }
        .f-info-links {
            width: 100%;
        }
        .f-info-social {
            width: 100%;
            font-size: 1.2rem;
        }
        .f-info{
            text-align: center;
            height: 8rem;
            background-color: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: space-evenly;
        }
        /* new page */
        .add-btn{
            background-color: #fe424d !important;
            border: none;
            color: white !important;
            padding: 0.4rem 2.3rem !important;
        }
    </style>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--Font Owesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listing</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
    </div>
  </div>
</nav>

    <br>
    <div class="row offset-2" >
        <h3>Create a New Listing</h3>
    <div class="col-8">
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" placeholder="Enter title" name="listing[title]" class="form-control" required>
        </div>
        <div class="mb-3" >
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="Enter description" id="description" class="form-control" name="listing[description]" required ></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Enter image</label>
            <input type="text" id="image" class="form-control" placeholder="Enter image URL/link" name="listing[image]">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Enter price</label>
            <input type="number" id="price" class="form-control" placeholder="Enter price" name="listing[price]" required>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Enter Location</label>
            <input type="text" id="location" class="form-control" placeholder="Enter location" name="listing[location]" required>
        </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Enter Country</label>
            <input type="text" id="country" class="form-control" placeholder="Enter country" name="listing[country]" required>
        </div>
        <button class="add-btn btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>

    <footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/term">Term</a>
        </div>
    </div>
</footer>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>