body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    font-weight: 400 !important;
    height: 100vh;
    font-style: normal !important;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d !important;
    font-size: 2rem !important;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration:underline;
}
.f-info-links {
    width: 100%;
}
.f-info-social {
    width: 100%;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none !important;
}
/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: #ebebeb;
}